<h1 class="card-title">Welcome to the Rick and Morty Gossip Project</h1>
<p>You GOTTA get SCHWIFTYY !</p>
<h2>Gossips</h2>
<div class="card-columns">
  <% @gossips.each do |gossip| %>
    <div class="card p-3">
      <blockquote class="blockquote mb-0 card-body">
      <p><%= gossip.content%></p>
      <footer class="blockquote-footer">
        <small class="text-muted">
        <%= gossip.author%> <%= link_to "says", gossip_path(gossip.id) %>
        </small>
      </footer>
      </blockquote>
    </div>
  <% end%>
</div>


<!--
<div class="card" style="width: 50rem;">
  <div class="card-body">
    <dl class="list-group list-group-flush">
    <% @gossips.each do |gossip| %>
        <dt class="list-group-item"><%= gossip.author%> <%= link_to "says", gossip_path(gossip.id) %>:</dt>
        <dd class="list-group-item"><%= gossip.content%></dd>
    <% end%>
    </dl>
-->
